.dashboard-container {
  display: flex;
}


.main-content {
  margin-left: 250px;
  flex-grow: 1;
  transition: margin-left 0.2s ease;
}

.main-content.collapsed {
  margin-left: 0; /* No space for sidebar */
  padding-left: 80px;
}

.dashboard-main {
  padding: 20px;
}
