.dashboard-container {
  display: flex;
}


.main-content {
  margin-left: 250px; /* Width of sidebar */
  padding: 20px;
  flex-grow: 1;
  transition: margin-left 0.3s ease;
}

.main-content.collapsed {
  margin-left: 0; /* No space for sidebar */
}

.dashboard-main {
  padding: 20px;
}

.toggle-button, .delete-button {
  margin: 5px;
}

.user-table {
  width: 100%;
  border-collapse: collapse;
}

.user-table th, .user-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.user-table th {
  background-color: #f4f4f4;
}
