.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.dashboard-main {
  width: 100%;
  max-width: 800px;
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1{
  color: #ffffff;
}

h2 {
  color: #333;
}

.toggle-button, .delete-button {
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0.5rem 0;
}

.toggle-button:hover, .delete-button:hover {
  background-color: #0056b3;
}

.user-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

.user-table th, .user-table td {
  border: 1px solid #ddd;
  padding: 0.5rem;
  text-align: left;
}

.user-table th {
  background-color: #f2f2f2;
}