/* Sidebar.css */
.sidebar-container {
  position: relative;
}

.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #333;
  color: white;
  position: fixed;
  left: 0;
  top: 0;
  padding: 20px;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transform: translateX(0);
  opacity: 1;
}

.sidebar.closed {
  transform: translateX(-100%);
  opacity: 0;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
}

.sidebar-toggle {
  margin-bottom: 20px;
}

.sidebar h2 {
  color: #f4f4f4;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin: 15px 0;
}

.sidebar ul li a {
  color: #f4f4f4;
  text-decoration: none;
  font-size: 18px;
}

.sidebar ul li a:hover {
  text-decoration: underline;
}

.sidebar-show-button {
  position: fixed;
  left: 0;
  top: 20px;
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  z-index: 1000; /* Ensure it is on top of other content */
}

.sidebar-show-button:hover {
  background-color: #444;
}
