/* Sidebar.css */
.sidebar-container {
  display: flex;
}

.sidebar {
  height: 100vh;
  background-color: #333;
  color: white;
  position: fixed;
  left: 0;
  top: 0;
  transition: width 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000; /* Ensure the sidebar is above other content */
}

.sidebar.closed {
  width: 80px;
}

.sidebar.open {
  width: 250px;
}

.sidebar-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  box-sizing: border-box;
}

.sidebar-logo {
  width: 50px;
  height: 50px;
}

.sidebar-toggle {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.sidebar-content {
  margin-top: 20px;
  width: 100%;
  text-align: left;
  padding-left: 20px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.sidebar-content.visible {
  opacity: 1;
}

.sidebar-content.hidden {
  opacity: 0;
}

.sidebar h2 {
  color: #f4f4f4;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin: 15px 0;
}

.sidebar ul li a {
  color: #f4f4f4;
  text-decoration: none;
  font-size: 18px;
}

.sidebar ul li a:hover {
  text-decoration: underline;
}

.sidebar-show-button {
  position: fixed;
  left: 0;
  top: 20px;
  background-color: #333;
  color: white;
  border: none;
  padding: 20px 30px;
  cursor: pointer;
  z-index: 100; /* Ensure it is on top of other content */
}

.sidebar-show-button:hover {
  background-color: #444;
}

.main-content {
  margin-left: 100px; /* Default margin for when sidebar is closed */
  transition: margin-left 0.5s ease;
  flex: 1; /* Allows main-content to take up the remaining space */
}

.sidebar.open ~ .main-content {
  margin-left: 250px; /* Margin for when sidebar is open */
}

.main-content-content {
  padding: 20px;
}
