.MuiSnackbar-root {
  top: 50px; /* Adjust to your preference */
}

@keyframes slideIn {
  from {
      transform: translateY(-100%);
      opacity: 0;
  }
  to {
      transform: translateY(0);
      opacity: 1;
  }
}

.MuiSnackbar-root .MuiPaper-root {
  animation: slideIn 0.3s ease-out;
}



.snackbar-top-center {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateY(-47%);
  z-index: 1300; /* Ensure it's above other components */
  width: auto;
  max-width: 90%;
  text-align: center;
}