/* App.css */

.dashboard-container {
  display: flex;
  height: 100vh;
}

.main-content {
  flex-grow: 1;
  transition: margin-left 0.3s ease;
}

.main-content.expanded {
  margin-left: 240px; /* Width of the expanded sidebar */
}

.main-content.collapsed {
  margin-left: 70px; /* Width of the collapsed sidebar */
}
